.home-activity {
    display: flex;
    justify-content: center;
    height: 180px;
    background: #fff;
    margin-bottom: 30px;
}

.home-activity .item {
    width: 360px;
    height: 160px;
    margin-top: 10px;
    background: red;
}

.home-activity .item:first-child {
    margin-right: 8px;
}