.star {
    position: relative;
    width: 171px;
    height: 32px;
}
.star-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../../assets/images/detail-star0.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
}
.star-high-light {
    position: absolute;
    top: 0;
    left: 0;;
    height: 100%;
    background-image: url(../../assets/images/detail-star.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
}