.likes-title {
    height: 72px;
    line-height: 72px;
    color: #666666;
    font-size: 30px;
    text-indent: 26px;
}

.likes-list {
    list-style: none;
    background-color: #ffffff;
}

.like-hover-hide {
    opacity: 1;
}
.like-hover-hide-leave {
    opacity: 1;
}
.like-hover-hide-leave.like-hover-hide-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}