.home-advertisement {
    display: flex;
    justify-content: center;
    height: 176px;
    background: #fff;
    margin-bottom: 20px;
}
.home-advertisement .item {
    display: flex;
    width: 363px;
    height: 160px;
    margin-top: 8px;
}

.home-advertisement .item:first-child {
    margin-right: 8px;
    background-color: #ffa383;
}

.home-advertisement .item:last-child {
    background-color: #44d0cd;
}

.home-advertisement .item .title {
    color: #fff;
}

.home-advertisement .item .title h1 {
    margin: 28px 0 0 24px;
    font-size: 30px;
    font-weight: normal;
}
.home-advertisement .item .title h2 {
    margin: 10px 0 0 24px;
    padding: 4px;
    border-radius: 20px;
    font-weight: normal;
    font-size: 24px;
    text-align: center;
    background-color: #f97e54;
}
.home-advertisement .item:last-child .title h2 {
    background-color: #22bab7;
}
.home-advertisement .item img {
    margin: 20px 0 0 24px;
    width: 120px;
    height: 120px;
}

.home-rb {
    display: flex;
    justify-content: center;
    height: 176px;
    background: #fff;
    margin-bottom: 20px;
}
.home-rb .item {
    display: flex;
    width: 360px;
    height: 160px;
    margin-top: 8px;
}

.home-rb .item .title {
    color: #fff;
}

.home-rb .item .title h1 {
    margin: 28px 0 0 24px;
    font-size: 30px;
    font-weight: normal;
    color: #ff8267;
}

.home-rb .item:first-child .title h1 {
    color: #4eb0de;
}
.home-rb .item .title h2 {
    margin: 10px 0 0 24px;
    font-weight: normal;
    font-size: 24px;
    color: #999999;
}

.home-rb .item img {
    margin: 20px 0 0 24px;
    width: 120px;
    height: 120px;
}