.home-head-line {
    display: flex;
    /* height: 100px; */
    justify-content: space-between;
    /* align-content: center; */
    background: #fff;
    
    margin-bottom: 20px;
}

.home-head-line .title {
    display: block;
    width: 80px;
    height: 80px;
    margin-left: 20px;
    background: url(../../images/a41a9b3b0c7b20af96d3cacbfd8692c5.png) no-repeat;
    background-size: 400px;
    background-position: 100% 4px;
}

.home-head-line .wrapper {
    width: 600px;
    height: 110px;
    overflow: hidden;
}

.home-head-line .item {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 600px;
    padding-bottom: 20px;
}

.home-head-line .item p {
    display: flex;
    width: 490px;
    height: 80px;
    align-content: center;
    font-size: 28px;
    font-weight: bold;
    color: #000;
}

.home-head-line .item img {
    margin-right: 20px;
    width: 90px;
    height: 90px;
}

.home-head-line .item .img-num {
    position: absolute;
    bottom: 30px;
    right: 30px;
    text-align: center;
    padding: 6px;
    background-color: rgba(0,0,0, .5);
    color: #f2f2f2;
    font-size: 16px;
    border-radius: 50%;
}

.move-top-enter {
    opacity: 0;
    transform: translateY(110px);
}
.move-top-enter.move-top-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: all 1s;
}
.move-top-leave-active {
    opacity: 0;
    transform: translateY(-110px);
    transition: all 1s;
}

.move-top-next-enter {
    opacity: 0;
}
.move-top-next-enter.move-top-next-enter-active {
    opacity: 1;
    transform: translateY(-110px);
    transition: all 1s;
}
.move-top-next-leave {
    transform: translateY(-110px);
}
.move-top-next-leave.move-top-next-leave-active {
    opacity: 0;
    transform: translateY(-220px);
    transition: all 1s;
}