.home-header {
    position: fixed;
    top:0;
    z-index: 999999;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: rgb(255, 102, 51);
    color: #fff;
    font-size: 32px;
}

.home-header-left {
    width: 155px;
    text-align: center;
}

.home-header-left .city-name {
    font-size: 32px;
    color: #fff
}
.home-header-left .city-name span {
    position: relative;
    top: 4px;
    display: inline-block;
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.home-header-left .city-name i {
    font-size: 36px;
}

.home-header-center {
    width: 505px;
    height: 60px;
    line-height: 60px;
    background: #fff;
    border-radius: 30px;
}

.home-header-center input {
    width: 430px;
    border: none;
    color: #c8b8b8;
    text-indent: 20px;
    font-size: 28px !important;
    font-weight: normal;
}
.home-header-center i {
    position: relative;
    top: 6px;
    margin-left: 20px;
    font-size: 40px;
    color: #ccc !important;
}
.home-header-right {
    width: 90px;
    text-align: center;
}
.home-header-right a {
    display: inline-block;
    width: 56px;
    height: 70px;
    color: #fff;
    text-indent: -10000px;
    background: url(../../../assets/images/d53930bbff0bf22cb8cea72503da44d9.png) no-repeat;
    background-size: 500px;
    background-position: left -148px;
}